<div id="city" class="page">
    <img class="header" ng-src="{{ vm.pageAssets.header }}"></img>
    
    <div class="page-text row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <p class="text-left">
                        <em>Charter school advocates and critics alike are fighting for quality education. But whom are they fighting for?</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h3 class="text-center">
                        At its core, the debate is about whom we choose to listen to, and whom we choose to believe.<br>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <p class="text-right">
                        <em>What does a system of perpetuating inequality look like? Who is unequal? What does that feel like, to be unequal?</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-nav text-right row">
        <div class="col-md-12">
            <img class="page-nav-icon" 
                ng-click="vm.goToVids('first')"
                ng-src="{{ vm.pageAssets.downArrow }}" />
        </div>
    </div>
    
    <div class="page-space"></div>
    
    <div ng-repeat="section in vm.page.sections track by $index" ng-class="{'section':!$last}">
        <div id="city-vid-{{ $index }}" class="container-fluid block text-center"
            ng-style="{'background':section.background}">
            <div class="row block-header">
                <div class="col-xs-12 text-center">
                    <h1 class="block-header-item">{{ section.name | uppercase }}</h1>
                </div>
            </div>
            <div class="row" ng-if="!section.responded">
                <div class="col-xs-12 col-md-6 col-md-offset-3 block-question">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="block-question-item question-prompt">Q: {{ section.prompt.question }}</h3>
                        </div>
                        <div class="col-md-6 block-question-item">
                            <div ng-if="section.error" class="alert alert-danger" role="alert">
                                <p>{{ section.error }}</p>
                            </div>
                            <div ng-if="section.success" class="alert alert-success" role="alert">
                                <p>{{ section.success }}</p>
                            </div>
                            <form ng-if="!section.success" name="post" ng-submit="vm.post(section)">
                                <div class="form-group">
                                    <textarea type="answer" class="form-control" id="answer" placeholder="[Response]" ng-model="section.answer" autocapitalize="none" required="true" maxlength="150" rows="3"/>
                                </div>
                                <div class="form-group">
                                    <input type="name" class="form-control" id="name" placeholder="[Name]" ng-model="vm.name" autocapitalize="none" />
                                </div>
                                <div class="question-btn text-right">
                                    <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="section.responded">
                <div class="col-md-4 col-md-offset-4 text-center block-responded">
                    <div class="responded-msg">
                        <p>Your response has been saved!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="block-video">
                        <iframe ng-src="{{ section.video.url | trustedSrcFilter }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>    
            <div class="row" ng-if="!$last">
                <div class="block-nav text-right col-xs-12">
                    <img class="page-nav-icon block-nav-down" 
                        ng-src="{{ vm.pageAssets.downArrow }}"
                        ng-click="vm.goToVids($index)">
                    </img>
                </div>
            </div>   
            <div class="row" ng-if="$last">
                <div class="block-nav text-right col-xs-12">
                    <img class="page-nav-icon block-nav-up" 
                        ng-src="{{ vm.pageAssets.upArrow }}"
                        ng-click="vm.backToTop('city')">
                    </img>
                </div>
            </div>
        </div>
        <div class="container-fluid page-nav-nxt-prev" ng-if="$last">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#!/home">
                        <img class="page-nav-icon"
                            ng-src="{{ vm.pageAssets.prevArrow }}">
                        </img>
                    </a>
                    <a href="#!/debate">
                        <img class="page-nav-icon"
                            ng-src="{{ vm.pageAssets.nextArrow }}">
                        </img>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>