<div id="debate" class="page">
    <img class="header" src="{{ vm.pageAssets.header }}"></img>
    
    <div class="page-text row">
        <div class="col-md-4">
            <p class="text-left">
                <em>So how do we create a public education system that provides equal opportunity? How do we ensure that quality education is a right for all, not a privilege for few? Education reformers believe that the current system <strong>has not, cannot, and never will</strong> achieve that goal. Instead, education reformers look to the private sector for inspiration.<br><br>
                In a charter-wide model, schools act as independent operators in a free market where families are the consumers, and district bureaucracy gives way to the forces of choice, competition and innovation, building a more efficient and equitable system in its place.</em>
            </p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">
                “In all intellectual debates, both sides tend to be correct in what they affirm, and wrong in what they deny.”
                <br>
                <em>– John Stuart Mill</em>
            </h3>
        </div>
        <div class="col-md-4">
            <p class="text-right">
                <em>But what if that model rests on a faulty assumption? Pro-district advocates argue that economic market forces alone <strong>have not, cannot, and never will,</strong> balance out existing inequity in our public education.<br><br>
                In more concrete terms, what happens to the families and communities vulnerable to substandard public education in a free market education system? What happens when a school relocates out of a neighborhood? What happens when schools are tasked with providing both quality education and financial profits?<br><br>
                These ‘what-ifs’ aren’t just fodder for intellectual debate, they underpin the policies governing our nation’s education system.</em>
            </p>
        </div>
    </div>
    
    <div class="page-nav text-right row">
        <div class="col-md-12">
            <img class="page-nav-icon" 
                ng-click="vm.goToVids('first')"
                ng-src="{{ vm.pageAssets.downArrow }}" />
        </div>
    </div>
    
    <div class="page-space"></div>
    
    <div ng-repeat="section in vm.page.sections track by $index" ng-class="{'section':!$last}">
        <div id="debate-vid-{{ $index }}" class="container-fluid block text-center"
            ng-style="{'background':section.background}">
            <div class="row block-header">
                <div class="col-xs-12 text-center">
                    <h1 class="block-header-item">{{ section.name | uppercase }}</h1>
                </div>
            </div>
            <div class="row" ng-if="!section.responded">
                <div class="col-xs-12 col-md-6 col-md-offset-3 block-question">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="block-question-item question-prompt">Q: {{ section.prompt.question }}</h3>
                        </div>
                        <div class="col-md-6 block-question-item">
                            <div ng-if="section.error" class="alert alert-danger" role="alert">
                                <p>{{ section.error }}</p>
                            </div>
                            <div ng-if="section.success" class="alert alert-success" role="alert">
                                <p>{{ section.success }}</p>
                            </div>
                            <form ng-if="!section.success" name="post" ng-submit="vm.post(section)">
                                <div class="form-group">
                                    <textarea type="answer" class="form-control" id="answer" placeholder="[Response]" ng-model="section.answer" autocapitalize="none" required="true" maxlength="150" rows="3"/>
                                </div>
                                <div class="form-group">
                                    <input type="name" class="form-control" id="name" placeholder="[Name]" ng-model="vm.name" autocapitalize="none" />
                                </div>
                                <div class="question-btn text-right">
                                    <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="section.responded">
                <div class="col-md-4 col-md-offset-4 text-center block-responded">
                    <div class="responded-msg">
                        <p>Your response has been saved!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="block-video">
                        <iframe ng-src="{{ section.url | trustedSrcFilter }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>    
            <div class="row" ng-if="!$last">
                <div class="block-nav text-right col-xs-12">
                    <img class="page-nav-icon block-nav-down" 
                        ng-src="{{ vm.pageAssets.downArrow }}"
                        ng-click="vm.goToVids($index)">
                    </img>
                </div>
            </div>   
            <div class="row" ng-if="$last">
                <div class="block-nav text-right col-xs-12">
                    <img class="page-nav-icon block-nav-up" 
                        ng-src="{{ vm.pageAssets.upArrow }}"
                        ng-click="vm.backToTop('debate')">
                    </img>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="$last">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#!/city">
                        <img class="page-nav-icon"
                            ng-src="{{ vm.pageAssets.prevArrow }}">
                        </img>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container text-center">
        <p>Content Goes Here</p>
        <a href="#!/home" class="btn btn-primary">Go Home</a>
    </div>
</div>