.header {
    width: 100%;
}

.page-text  {
    padding: 30px 100px 60px 100px;
    background-color: #e0e0e0;
}

.page-nav {
    padding-right:50px;
    margin-top:-30px;
}

.page-nav-icon {
    max-height:100px;
}

.page-space {
    height: 1500px;
}

.page-video-row {
    background: blue;
}

.page-question-row {
    background: green;
}

.page-video-col, .page-question-col {
    margin: 25px auto;
    border: 3px solid red;
}

.placeholder-vid, .placeholder-question {
    background:white;
}

.placeholder-vid {
    height: 500px;
}

.placeholder-question {
    height:200px;
}

/*.row {*/
/*    margin:20px 0 0 0;*/
/*}*/

/*.placeholder-vid, .placeholder-question-sm {*/
/*    height:250px;*/
/*}*/

/*.placeholder-vid:first-child {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.placeholder-question-sm {*/
/*    border: 3px solid blue;*/
/*}*/

/*.placeholder-question-lg {*/
/*    height: 520px;*/
/*    border: 3px solid red;*/
/*}*/