html, body, .ng-scope {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 991px) {
    .page-text  {
        padding: 120px 150px 120px 150px;
        background-color: #e0e0e0;
    }
    
    .page-space {
        height: 2000px;
    }
}

@media screen and (min-width: 992px) {
    .page-text  {
        padding: 30px 100px 60px 100px;
        background-color: #e0e0e0;
    }
    
    .page-space {
        height: 1000px;
    }
}

.vid-wrapper {
    height: 100%;
}

.btn-wrapper {
    position: absolute;
    padding: 10px;
    width: 100%;
}

.header {
    width: 100%;
}

.page-nav {
    padding-right:50px;
    margin-top:-30px;
}

.page-nav-icon {
    max-height:100px;
}

.block {
    background:#464389;
}

.block-header {
    margin: 25px auto;
}

.block-header-item, .block-question-item {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    margin:0;
    color: white;
}

h1.block-header-item {
    letter-spacing: 3px;
    font-weight: bold;
}

p.block-header-item {
    text-align: left;
}

.placeholder-vid, .placeholder-question {
    background:#6863B2;
    margin: 25px auto;
}

.placeholder-vid {
    height: 500px;
}

.block-question {
    padding-top:20px;
}

h3.block-question-item {
    padding-right: 50px;
}

.question-response-box {
    height:100px;
    background:white;
}

.block-nav {
    padding-right: 50px;
    margin-bottom: -60px;
}

.block-nav-icon {
    max-height:100px;
}