<div id="home" class="page home-background">
    <div class="home-content container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="main-white home-text">
                    <div id="dir-note"
                        ng-class="{'closed':!vm.homeText, 'open':vm.homeText}">
                        <h3 class="text-center">A note from the directors:</h3>
                        <p>
                            For over two decades, the Charter School Debate (“the Debate”) has mixed together the most incendiary issues in politics: public goods and private enterprise, systemic racism and white saviors, efficiency and scarcity, empowerment and control.
                        </p>
                        <p>
                            When conflicting sides do come into contact, civil debate often explodes into a blaze of fiery rhetoric. In these moments, even the smartest and most well-intentioned people can dangerously oversimplify the Debate into a battle between good and evil, the righteous and the self-interested, those who ‘care about the kids’ and those who do not.
                        </p>
                        <p>
                            <em>Charter Wars</em> whittles away at this false binary by digging into the nuance of the Debate and examining the ideologies and experiences that have fostered the pervasive intransigence. In this interactive documentary we have paired short films (2-4 minutes) with questions and prompts, which you are meant to respond to!  Each film stands on its own, but for the full effect, we encourage you to watch them all together, in the order they are displayed. Also, while you are free to click around, if this if your first time watching <em>Charter Wars</em> we encourage you to progress through Charter Wars in the following order (1) the City (2) the Debate (3) the Discussion.
                        </p>
                        <p>
                            So watch, reflect, and then debate.
                        </p>
                        <p>
                            Sincerely,<br>
                            Sivahn + Rachel
                        </p>
                        <hr>
                        <div class="text-center home-btns">
                            <button ng-click="vm.openModal()" class="btn btn-sm btn-secondary">Rewatch Intro</button>
                        </div>
                    </div>
                </div>
                <div id="expand-home-text" class="text-right">
                    <i class="fa fa-2x clickable"
                        ng-class="{'fa-plus-square':!vm.homeText,'fa-minus-square':vm.homeText}"
                        ng-click="vm.homeText=!vm.homeText">
                    </i>
                </div>
            </div>
        </div>
        <div class="row home-logo-group">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div id="city-logo" class="col-xs-6 col-md-6">
                    <a href="#!/city">
                        <div class="logo"
                            ng-init="cityLogo='city-icon'"
                            ng-mouseover="cityLogo='city-icon-hover'" 
                            ng-mouseout="cityLogo='city-icon'">
                            <img ng-src="../angular-app/assets/page-assets/{{cityLogo}}.png"/>
                        </div>
                    </a>
                </div>
                <div id="debate-logo" class="col-xs-6 col-md-6">
                    <a href="#!/debate">
                        <div class="logo"
                            ng-init="debateLogo='debate-icon'"
                            ng-mouseover="debateLogo='debate-icon-hover'" 
                            ng-mouseout="debateLogo='debate-icon'">
                            <img ng-src="../angular-app/assets/page-assets/{{debateLogo}}.png"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>