<div id="home" class="page">
    <div class="home-background"></div>
    <div class="home-content container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="main-white home-text">
                    <div id="dir-note"
                        ng-class="{'closed':!vm.homeText, 'open':vm.homeText}">
                        <h3 class="text-center">A note from the directors:</h3>
                        <p>
                            The Charter School Debate (“the Debate”) mixes together some rather combustible topics: public goods and private enterprise, systemic racism and white saviors, efficiency and scarcity, empowerment and control.
                        </p>
                        <p>
                            When conflicting sides do interact, the Debate often explodes into a blaze of ad-hominem attacks and fiery rhetoric. It is in these moments that I’ve seen people, people who I respect, people who I consider smart and caring citizens, I’ve seen these people oversimplify the Debate into a battle between good and evil, the righteous and the self-interested, those who ‘care about the kids’ and those who do not.
                        </p>
                        <p>
                            <em>Charter Wars</em> is an interactive film series that whittles away at this false binary by digging into the nuance of the Debate. <em>Charter Wars</em> is not about advocating for one policy over another, it’s about understanding the ideologies and experiences that shaped those policies.
                        </p>
                        <p>
                            So watch, reflect, and then debate.
                        </p>
                        <p>
                            Sincerely,<br>
                            Sivahn + Rachel 
                        </p>
                        <hr>
                        <div class="text-center home-btns">
                            <button ng-click="vm.openModal()" class="btn btn-sm btn-secondary">Rewatch Intro</button>
                        </div>
                    </div>
                </div>
                <div id="expand-home-text" class="text-right">
                    <i class="fa fa-2x"
                        ng-class="{'fa-plus-square':!vm.homeText,'fa-minus-square':vm.homeText}"
                        ng-click="vm.homeText=!vm.homeText">
                    </i>
                </div>
            </div>
        </div>
        <div class="row home-logo-group">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div id="city-logo" class="col-xs-6 col-md-6">
                    <a href="#!/city">
                        <div class="logo"
                            ng-init="cityLogo='city-icon'"
                            ng-mouseover="cityLogo='city-icon-hover'" 
                            ng-mouseout="cityLogo='city-icon'">
                            <img ng-src="../angular-app/assets/page-assets/{{cityLogo}}.png"/>
                        </div>
                    </a>
                </div>
                <div id="debate-logo" class="col-xs-6 col-md-6">
                    <a href="#!/debate">
                        <div class="logo"
                            ng-init="debateLogo='debate-icon'"
                            ng-mouseover="debateLogo='debate-icon-hover'" 
                            ng-mouseout="debateLogo='debate-icon'">
                            <img ng-src="../angular-app/assets/page-assets/{{debateLogo}}.png"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>