<div class="page">
    <div id="forum" class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{ vm.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="main-white disc-text">
                    <div id="disc-note"
                        ng-class="{'closed':!vm.discText, 'open':vm.discText}">
                        <h3 class="text-center">A note on the discussion:</h3>
                        <p>
                            Lorem ipsum dolor sit amet, adipiscing suspendisse. Elit a at. Integer laoreet in, aenean sem non. Pellentesque ipsum, pellentesque ut eros. Parturient leo nunc, aliquet justo arcu, nec mauris diam. Vehicula taciti proin, nascetur laborum, vulputate viverra.
                        </p>
                        <p>
                            A tellus. Sit nec eleifend, eu eu. Libero posuere eget. Odio bibendum at. Nisl nullam vestibulum. Massa phasellus per.
                        </p>
                        <p>
                            Proin blandit luctus. Neque cras commodo, magna scelerisque. Semper ullamcorper tristique, interdum quam. Dolor nulla turpis. Integer dis aenean, etiam amet est, donec orci. Id elit, proin arcu parturient, nunc mauris enim.
                        </p>
                        <p>
                            Mauris blandit. Porttitor maecenas justo. A nullam, pellentesque non nibh. Est imperdiet, ipsum suscipit ante, condimentum vel vel. Id phasellus, integer ut cras, dictum elit.
                        </p>
                    </div>
                </div>
                <div id="expand-disc-text" class="text-right">
                    <i class="fa fa-2x clickable"
                        ng-class="{'fa-plus-square':!vm.discText,'fa-minus-square':vm.discText}"
                        ng-click="vm.discText=!vm.discText">
                    </i>
                </div>
            </div>
        </div>
        <div ng-repeat="page in vm.pages | orderBy:'name' track by $index">
            <div class="row forum-section">
                <div class="col-md-12">
                    <div class="forum-sec-header">
                        <h2 class="text-center">{{ page.name }} Discussion</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div ng-repeat="sec in page.sections track by $index">
                        <div class="col-md-6">
                            <div class="container-fluid forum-block"
                                ng-style="{'background':sec.background}">
                                <div class="row">
                                    <div class="col-md-12 forum-title">
                                        <h3 class="text-center">{{ sec.prompt.question }}&nbsp;&nbsp;
                                            <a href="#!/video?id={{ sec.video._id }}" target="_blank">
                                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div uib-carousel class="forum-carousel" active="active" interval=50000 no-wrap=false>
                                            <div uib-slide ng-repeat="response in sec.prompt.responses" index="$index">
                                                <div class="carousel-caption">
                                                    <p class="forum-response">{{response.answer}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="forum-response">
                                    <div ng-if="!sec.responded">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div ng-if="sec.error" class="alert alert-danger" role="alert">
                                                    <p>{{ sec.error }}</p>
                                                </div>
                                                <div ng-if="sec.success" class="alert alert-success" role="alert">
                                                    <p>{{ sec.success }}</p>
                                                </div>
                                                <div ng-if="!sec.success">
                                                    <p class="forum-response-header text-center">What do you think?</p>
                                                    <form name="post" ng-submit="vm.post(page,sec)">
                                                        <div class="form-group">
                                                            <textarea type="answer" class="form-control" id="answer" placeholder="[Response]" ng-model="sec.answer" autocapitalize="none" required="true" maxlength="150" rows="2"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="name" class="form-control" id="name" placeholder="[Name]" ng-model="vm.name" autocapitalize="none" />
                                                        </div>
                                                        <div class="question-btn text-right">
                                                            <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="sec.responded">
                                        <div class="col-md-8 col-md-offset-2 text-center block-responded">
                                            <div class="responded-msg">
                                                <p>Your response has been saved!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>